/* detail */
.detail-section {
  margin-top: 20px;
  padding: 0 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.detail-section h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.img-details {
  display: flex;
  width: 100%;
  gap: 50px;
}

.img {
  width: 100%;
}

.img img {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
}

.details-desc {
  font-size: 24px;
  height: 300px;
}

.details .duration-title {
  font-size: 30px;
  font-weight: bold;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  gap: 20px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  font-weight: bold;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 25px;
}
.tech div img {
  width: 45px;
}

.tech-list div {
  display: flex;
  gap: 30px;
}

/* small screen */

@media only screen and (max-width: 576px) {
  .detail-section {
    display: flex;
    flex-direction: column;
  }
  .detail-section h1 {
    font-size: 30px;
  }
  .img-details {
    display: flex;
    width: 100%;
    gap: 50px;
    flex-direction: column;
  }

  .img {
    width: 100%;
  }

  .img;
}
